/******************************************
******************************************
  Grid
******************************************
******************************************/

.container {
  max-width:66rem;
  margin:0 auto;
  position:relative;
  z-index: 1;
}


.row {
  margin:0 -1rem;
  .col-1 {
    width:8.333%;
    float:left;
  }
  .col-2 {
    width:16.666%;
    float:left;
  }
  .col-3 {
    width:25%;
    float:left;
  }
  .col-4 {
    width:33.333%;
    float:left;
  }
  .col-5 {
    width:41.666%;
    float:left;
  }
  .col-6 {
    width:50%;
    float:left;
  }
  .col-7 {
    width: 58.333%;
    float:left;
  }
  .col-8 {
    width: 66.666%;
    float:left;
  }
  .col-9 {
    width: 75%;
    float:left;
  }
  .col-10 {
    width: 83.333%;
    float:left;
  }
  .col-11 {
    width: 91.666%;
    float:left;
  }
  .col-12 {
    width:100%;
    float:left;
  }
  [class^=col-] {
    position:relative;
    min-height: 1px;
    padding:0 1rem;
    float:left;
  }
  .col-offset-1 {
    margin-left:(1 / 12) * 100%;
  }
  .col-offset-2 {
    margin-left:(2 / 12) * 100%;
  }
  .col-offset-3 {
    margin-left:(3 / 12) * 100%;
  }
  .col-offset-4 {
    margin-left:(4 / 12) * 100%;
  }
  .col-offset-5 {
    margin-left:(5 / 12) * 100%;
  }
  .col-offset-6 {
    margin-left:(6 / 12) * 100%;
  }
  .col-offset-7 {
    margin-left:(7 / 12) * 100%;
  }
  .col-offset-8 {
    margin-left:(8 / 12) * 100%;
  }
  .col-offset-9 {
    margin-left:(9 / 12) * 100%;
  }
  .col-offset-10 {
    margin-left:(10 / 12) * 100%;
  }
  .col-offset-11 {
    margin-left:(11 / 12) * 100%;
  }
}

.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.container:before,
.container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}
.container {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* Margin helpers */

@for $i from 0 through 12 {
  .mb#{$i} {
      margin-bottom: 0.5rem * $i !important;
  }
}

@for $i from 0 through 12 {
  .mt#{$i} {
      margin-top: 0.5rem * $i !important;
  }
}

@for $i from 0 through 12 {
  .mr#{$i} {
      margin-right: 0.5rem * $i !important;
  }
}

@for $i from 0 through 12 {
  .ml#{$i} {
      margin-left: 0.5rem * $i !important;
  }
}

@for $i from 0 through 12 {
  .m#{$i} {
      margin: 0.5rem * $i !important;
  }
}

/* Padding helpers */

@for $i from 0 through 12 {
  .pb#{$i} {
      padding-bottom: 0.5rem * $i !important;
  }
}

@for $i from 0 through 12 {
  .pt#{$i} {
      padding-top: 0.5rem * $i !important;
  }
}

@for $i from 0 through 12 {
  .pr#{$i} {
      padding-right: 0.5rem * $i !important;
  }
}

@for $i from 0 through 12 {
  .pl#{$i} {
      padding-left: 0.5rem * $i !important;
  }
}

@for $i from 0 through 12 {
  .p#{$i} {
      padding: 0.5rem * $i !important;
  }
}

.pr4 {
  padding-right:2rem;
}
